<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1>Burrito Matchmaker</h1>
            <p class="tv-custom-width">We'll find you matches based on what's really important: burrito compatibility! Meet and fall in love the proven way...through food.</p>
        </div></div>
    <div ng-show="login.error" class="alert alert-danger" role="alert">
        {{login.error}}
    </div>
    <h1>Login</h1>
    <form name="loginForm">
        <div class="form-group">
            <input name="username" ng-model="login.user.username" type="text"
                   class="form-control"
                   placeholder="username" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/></div>
        <div class="form-group">
            <input name="password" ng-model="login.user.password" type="password"
                   class="form-control"
                   placeholder="password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/></div>
    </form>
    <a class="btn btn-primary btn-block"
       ng-click="login.login()">Login</a>
    <a href="/project/auth/facebook" class="btn btn-primary btn-block">
        <span class="fa fa-facebook"></span>
        Facebook
    </a>
    <a class="btn btn-success btn-block"
       href="#/register">Register</a>
</div>