<nav class="navbar tv-green-navbar navbar-fixed-top">
    <div class="container-fluid row">

        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}" class="navbar-link tv-green-navbar-text tv-text-white tv-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a ng-click="model.logout()" class="navbar-link tv-green-navbar-text tv-icon-padding tv-text-white">
          <span class="glyphicon glyphicon-log-out">
          </span>
            </a>
        </div>
        <a class="navbar-brand tv-text-white tv-green-navbar-text tv-text-bold" href="#/user/{{model.userId}}/match">
            Burrito Soulmates
        </a>


    </div>
</nav>


<div class="container tv-container-padding">

    <div ng-repeat="match in model.matches"><div class="pull-right">
        <a class="btn btn-primary btn-block"
           href="#/user/{{model.userId}}/match/{{match._id}}">View Profile</a>
    </div><h2>{{match.username}}, {{match.age}}</h2>
        <img width=30% class="img-responsive img-circle" ng-src="{{match.photoUrl}}"/>
    </div>


</div>

<nav class="navbar tv-red-navbar navbar-fixed-bottom">
    <div class="container-fluid row">
        <div class="navbar-text pull-left"><a href="#/user/{{model.userId}}/message/inbox" class="navbar-link tv-red-navbar-text tv-text-white tv-icon-padding">
            <span class="glyphicon glyphicon-envelope"></span>
        </a>
        </div>
        <div class="pull-right navbar-text">

            <a href="#/user/{{model.userId}}" class="navbar-link tv-red-navbar-text tv-icon-padding tv-text-white">
                <span class="glyphicon glyphicon-user"></span>
            </a>

        </div>
    </div>
</nav>