<nav class="navbar navbar-fixed-top tv-green-navbar">
    <div class="container-fluid row">

        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}" class="navbar-link tv-green-navbar-text tv-text-white tv-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a ng-click="model.logout()" class="navbar-link tv-green-navbar-text tv-icon-padding tv-text-white">
          <span class="glyphicon glyphicon-log-out">
          </span>
            </a>
        </div>
        <a class="navbar-brand tv-text-white tv-green-navbar-text tv-text-bold" href="#/user/{{model.userId}}/message/outbox">
            Mail Outbox
        </a>
    </div>
    </div>
</nav>


<div class="container tv-container-padding">
    <a class="btn btn-warning"
       href="#/user/{{model.userId}}/message/inbox">Switch To Inbox</a>
    <div class="tv-large-margin-top" ng-repeat="message in model.sentMessages">
        <div><a href="#/user/{{model.userId}}/message/{{message._id}}">{{message.subject}}</a>
        <div>Sent to {{message.toUsername}} on {{model.formatDate(message.dateCreated)}}</div></div>
    </div>
</div>

<nav class="navbar tv-red-navbar navbar-fixed-bottom">
    <div class="container-fluid row">
        <div class="navbar-text pull-left"><a href="#/user/{{model.userId}}/message/inbox" class="navbar-link tv-red-navbar-text tv-text-white tv-icon-padding">
            <span class="glyphicon glyphicon-envelope"></span>
        </a>
        </div>
        <div class="pull-right navbar-text">

            <a href="#/user/{{model.userId}}" class="navbar-link tv-red-navbar-text tv-icon-padding tv-text-white">
                <span class="glyphicon glyphicon-user"></span>
            </a>

        </div>
    </div>
</nav>