<nav class="navbar tv-blue-navbar navbar-fixed-top">
    <div class="container-fluid row">
        <div class="col-xs-4 hidden-xs">

                <div class="navbar-text pull-left">
                    <a href="#/user/{{model.userId}}/website" class="navbar-link tv-text-white tv-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
                    </a>
                </div>
                <div class="navbar-text pull-right">
                    <a href="#/user/{{model.userId}}/website/new" class="navbar-link tv-icon-padding tv-text-white">
          <span class="glyphicon glyphicon-plus">
          </span>
                    </a>
                </div>
                <a class="navbar-brand tv-text-white tv-text-bold" href="#/user/{{model.userId}}/website">
                    Websites
                </a></div>
        <div class="col-xs-12 col-sm-8">

                <div class="hidden-sm hidden-md hidden-lg navbar-text pull-left">
                    <a href="#/user/{{model.userId}}/website" class="navbar-link tv-text-white tv-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
                    </a>
                </div>
                <div class="navbar-text pull-right">
                    <a ng-click="model.createWebsite(model.website)" class="navbar-link tv-icon-padding tv-text-white">
          <span class="glyphicon glyphicon-ok">
          </span>
                    </a>
                </div>
                <a class="navbar-brand tv-text-white tv-text-bold" href="#/user/{{model.userId}}/website/new">
                    New Website
                </a></div>

    </div>

</nav>

<div class="tv-height container-fluid tv-container-padding">
    <div class="col-xs-4 hidden-xs"><div ng-include src="'views/website/website-list-without-header-and-footer.view.client.html'"></div></div>

    <div class="col-xs-12 col-sm-8">
        <form>
            <div>
                <label for="name">Name</label>
                <input ng-model="model.website.name" type="text" class="form-control" id="name" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" rows="5" id="description" placeholder="Description"></textarea>
            </div>
        </form>
    </div>

</div>

<nav class="navbar tv-blue-navbar navbar-fixed-bottom">
    <div class="container-fluid row">
        <div class="pull-right navbar-text">

                <a href="#/user/{{model.userId}}" class="navbar-link tv-icon-padding tv-text-white">
                    <span class="glyphicon glyphicon-user"></span>
                </a>

        </div>
    </div>
</nav>