<nav class="navbar tv-blue-navbar navbar-fixed-top">
    <div class="container-fluid row">

            <div class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}" class="navbar-link tv-text-white tv-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/new" class="navbar-link tv-icon-padding tv-text-white">
          <span class="glyphicon glyphicon-plus">
          </span>
                </a>
            </div>
            <a class="navbar-brand tv-text-white tv-text-bold" href="#/user/{{model.userId}}/website">
                Websites
            </a>


    </div>
</nav>


<div class="container tv-container-padding">

        <div ng-repeat="website in model.websites"><div class="pull-right">
            <a href="#/user/{{model.userId}}/website/{{website._id}}">
          <span class="glyphicon glyphicon-cog">
          </span>
            </a>
        </div><a href="#/user/{{model.userId}}/website/{{website._id}}/page">{{website.name}}</a>
            </div>


</div>

<nav class="navbar tv-blue-navbar navbar-fixed-bottom">
    <div class="container-fluid row">
        <div class="pull-right navbar-text">

                <a href="#/user/{{model.userId}}" class="navbar-link tv-icon-padding tv-text-white">
                    <span class="glyphicon glyphicon-user"></span>
                </a>

        </div>
    </div>
</nav>