input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 36px;
}

a:hover{
    text-decoration: none;
}

.tv-container-padding {
    padding-top: 5%;
    padding-bottom: 10%;
}

.tv-blue-navbar{
    background-color: #337ab7;
}

.tv-text-white{
    color: #fff;
}

.tv-text-black{
    color: #000000;
}

.tv-text-bold{
    font-weight: bold;
}

.tv-icon-padding{
    padding-left: 20px;
    padding-right: 20px;
}

.tv-header-padding{
    padding-left: 5%;
}

.tv-full-width{
    width: 95%;
}