<nav class="navbar navbar-fixed-top tv-blue-navbar">
    <div class="container-fluid row">

            <div class="navbar-text pull-right">
                <a ng-click="model.updateUser(model.firstName,model.lastName)" class="navbar-link tv-text-white tv-icon-padding">
          <span class="glyphicon glyphicon-ok">
          </span>
                </a>
            </div>
            <a class="tv-text-white navbar-brand tv-header-padding tv-text-bold" href="#/user/{{model.userId}}">
                Profile
            </a>


    </div>
</nav>


<div class="container tv-container-padding">

    <form>
        <div>
            <label for="username">Username</label>
            <input ng-model="model.username" type="text" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="alice@wonderland.com">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input ng-model="model.firstName" type="text" class="form-control" id="first-name" placeholder="Alice">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input ng-model="model.lastName" type="text" class="form-control" id="last-name" placeholder="Wonderland">
        </div>
    </form>

    <a class="btn btn-primary btn-block"
       href="#/user/{{model.userId}}/website">Websites</a>
    <a class="btn btn-danger  btn-block"
       href="#/login">Logout</a>
</div>

<nav class="navbar navbar-fixed-bottom tv-blue-navbar">
    <div class="container-fluid row">
        <div class="pull-right navbar-text">

                <a href="#/user/{{model.userId}}" class="navbar-link tv-text-white tv-icon-padding">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>

    </div>
</nav>