<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">

        <div class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="tv-icon-padding tv-text-black">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a ng-click="model.updateYoutube(model.width,model.height,model.url,model.text,model.name)" class="tv-icon-padding tv-text-black">
          <span class="glyphicon glyphicon-ok">
          </span>
                </a>
            </div>
            <a class="navbar-brand tv-text-bold" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}">
                Widget Edit
            </a>


    </div>
</nav>


    <div class="container tv-container-padding">
        <div ng-show="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>

        <form name="editYoutubeForm">
            <div>
                <label for="name">Name</label>
                <input ng-invalid name="name" ng-model="model.name" required type="text" class="form-control" id="name" placeholder="Name">
                <span ng-show="editYoutubeForm.name.$invalid">Required!</span></div>
            <div class="form-group">
                <label for="text">Text</label>
                <input ng-model="model.text" type="text" class="form-control" id="text" placeholder="Text">
            </div>
            <div class="form-group">
                <label for="url">URL</label>
                <input ng-model="model.url" type="text" class="form-control" id="url" placeholder="https://www.youtube.com/embed/ca-0Ge5QUPM">
            </div>
            <div class="form-group">
                <label for="width">Width</label>
                <input ng-model="model.width" type="text" class="form-control" id="width" placeholder="100%">
            </div>
            <div class="form-group">
                <label for="height">Height</label>
                <input ng-model="model.height" type="text" class="form-control" id="height" placeholder="100%">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea ng-model="model.description" class="form-control" rows="5" id="description" placeholder="Description"></textarea>
            </div>
        <a class="btn btn-danger  btn-block"
           ng-click="model.deleteWidget()">Delete</a>
        </form>

    </div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid row">
        <div class="pull-right navbar-text">

                <a href="#/user/{{model.userId}}" class="tv-icon-padding">
                    <span class="glyphicon glyphicon-user"></span>
                </a>

        </div>
    </div>
</nav>