<div class="tv-widget-list-item">
    <div class="tv-relative-position">
        <div class="tv-full-width embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" ng-src="{{model.validateUrl(widget.url)}}"></iframe></div>
        <div class="tv-absolute-position tv-widget-list-icons tv-zero-right-padding">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}"><span class="glyphicon glyphicon-cog"></span></a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
    </div>
</div>